<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>************This is the user Login Login page ************</h3>
	<form th:action="@{/mylogin}" method="post">

		<pre>
		Username       :  <input type="text" name="username">
		Password       :  <input type="password" name="password">
    					  <input type="submit" name="" value="LOGIN">
		
		 
	</pre>
		
	</form>
	<div th:if="${param.error}">
			INVALID LOGIN CREDANIALS !!!
		</div>
		<div th:if="${param.logout}">
			<h3>LOGOUT SUCESSFULLY !!!</h3>
		</div>

	

</body>
</html>
